{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="container" style="background-color:rgb(240, 223, 226)">

      <div class="mt-5"> 
      
        <h4>Password reset sent</h4>
        We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
        
        If you don’t receive an email,<strong> please make sure you’ve entered the address you <em>registered </em>with, and check your spam folder.
        </strong>
    </div>

</div>

{% endblock %}